<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="eventHubsNamespaceURL" value="kafkahubs.servicebus.windows.net:9093"/>
    <add key="eventHubName" value="kafkatest"/>
    <add key="eventHubsConnStr" value="Endpoint=sb://kafkahubs.servicebus.windows.net/;SharedAccessKeyName=sendpolicy;SharedAccessKey=3kkNYMsctvIqIYpw/ySvjFV4NshqoT469TZNeShCwxA=;EntityPath=kafkatest"/>    
  </appSettings>
</configuration>